# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Prisma
prisma/migrations/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

/src/generated/prisma

# Test coverage
coverage/
